<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict/>
    </array>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app requires access to your photo library to select videos.</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>This app requires access to your media library.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This app requires access to speech recognition for transcribing audio from videos.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app requires access to the microphone for audio transcription.</string>
    <key>NSCameraUsageDescription</key>
    <string>This app requires access to the camera for taking photos or videos.</string>
</dict>
</plist>
